<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matcha</title>
    <!-- <link rel="stylesheet" href="/templates/style.css"> -->
    <!-- <script src="/templates/script.js"></script> -->
    <script>
        function CreateRequest()
{
    var Request = false;

    if (window.XMLHttpRequest)
    {
        Request = new XMLHttpRequest();
    }
    else if (window.ActiveXObject)
    {
        try
        {
             Request = new ActiveXObject("Microsoft.XMLHTTP");
        }    
        catch (CatchException)
        {
             Request = new ActiveXObject("Msxml2.XMLHTTP");
        }
    }
 
    if (!Request)
        alert("Невозможно создать XMLHttpRequest");
    
    return Request;
}

/*
Функция посылки запроса к файлу на сервере
r_method  - тип запроса: GET или POST
r_path    - путь к файлу
r_args    - аргументы вида a=1&b=2&c=3...
r_handler - функция-обработчик ответа от сервера
*/
function SendRequest(r_method, r_path, r_args, r_handler)
{
    var Request = CreateRequest();
    
    if (!Request)
    {
        return;
    }
    
    Request.onreadystatechange = function()
    {
        if (Request.readyState == 4)
            r_handler(Request);
    }
    
    if (r_method.toLowerCase() == "get" && r_args.length > 0)
    r_path += "?" + r_args;
    
    Request.open(r_method, r_path, true);
    
    if (r_method.toLowerCase() == "post")
    {
        Request.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=utf-8");
        Request.send(r_args);
    }
    else
        Request.send(null);
}
</script>

    <input type="text" list="locat" placeholder="Location..." oninput="changeDatalist(this);">
    <datalist id="locat">
        <option value="Москва"></option><option value="Москва и МО"></option><option value="Московская Область"></option><option value="Россия"></option>
    </datalist>

    <script>
        const datalist = document.getElementById("locat");

        function clearDatalist() {
            document.querySelectorAll("#locat option").forEach(el => {
                el.remove();
            });
        }

        function callAvitoApi(value) {
            SendRequest("get", "/api/v1/datalistLocations", "&value=" + encodeURI(value), function(e) {
                const result = JSON.parse(e.response);

                clearDatalist();

                console.log(result);
                if (result["result"]["locations"]) {
                    console.log("test");
                    result["result"]["locations"].forEach(obj => {
                        console.log("res");
                        const name = obj["names"]["1"];
                        const newEl = document.createElement("option");

                        newEl.setAttribute("value", name);
                        datalist.appendChild(newEl);
                    });
                }
            });
        }

        function changeDatalist(e) {
            var res = e.value;
            setTimeout((res) => {
                if (e.value === res)
                    callAvitoApi(res);
            }, 300, res);
        }

    </script>
</body>
</html>