# Django
Django==2.2.10
django-model-utils==3.2.0

# DB
## MySQL
PyMySQL==0.9.3
cryptography==3.1
# ## Redis
# redis==3.5.3

# Swagger
drf_yasg==1.16.1
packaging==19.1
django-rest-swagger==2.2.0

# rest
djangorestframework==3.10.3
django-cors-headers==3.0.2
django-filter==2.1.0

# Images
Pillow==7.2.0
easy-thumbnails==2.6

# Registration
django-registration-redux==2.8

# Chat
channels==2.4.0
channels-redis==2.4.2  # was 3.0.1
asgiref==3.2.10

# Geo
# geoip2==4.0.2

# Debug
django-debug-toolbar==2.2

# Distance
mpu==0.23.1

# Faker
Faker==4.14.2
transliterate==1.10.2

# Celery
celery==5.0.5
# celery==4.2.0
django_redis==4.10.0
