{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="center white" style="margin-top: 80px;">
        {% if validlink %}
          <p>{% trans "Enter your new password below to reset your password:" %}</p>
          <form method="post" action="">
              {% csrf_token %}
              <p>
                  <label for="id_new_password1">Новый пароль:</label>
                  <input type="password" name="new_password1" required id="id_new_password1">
                  <span class="helptext">
                      <ul>
                          <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                          <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                          <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                          <li>Ваш пароль не может состоять только из цифр.</li>
                      </ul>
                  </span>
              </p>
              <p>
                  <label for="id_new_password2">Подтверждение нового пароля:</label>
                  <input type="password" name="new_password2" required id="id_new_password2">
              </p>
              <input type="submit" value="{% trans 'Set password' %}" />
          </form>
        {% else %}
            Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
        {% endif %}
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
