Привет, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}

Вы получили это письмо, потому что вы (или кто-то, кто притворяется вами)
попросил сбросить ваш пароль на сайте {{domain}}. Если вы не хотите сбрасывать
пароль, пожалуйста, не обращайте внимания на это сообщение.

Чтобы сбросить пароль, нажмите на следующую ссылку или скопируйте и вставьте ее в ваш веб-браузер:
{{ protocol }}://{{ site_name }}{% url 'auth_password_reset_confirm' uid token %}

Ваш username, в случае если вы его забыли: {{ user.get_username }}

С наилучшими пожеланиями,
команда {{ site_name }}
