{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    .errorlist {
        color: indianred;
    }
{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="white" style="display: -webkit-box;">
            <section style="position: relative;margin-top: 80px;margin-left: 90px;">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Change password' %}"/>
                </form>
            </section>
        </div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
