{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    .errorlist {
        color: indianred;
    }
{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="white center">
            <section style="position: relative;margin-top: 80px;margin-left: 40px;">
                <p>
                    Забыли пароль? Введите ваш e-mail в форму ниже и мы пришлём вам инструкции для создания нового.
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Reset password' %}" />
                </form>
            </section>
        </div>
    </section>
{% endblock %}

{% block end_content %}
    {% include "footer.html" %}
{% endblock %}


{# This is used by django.contrib.auth #}