{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Настройки{% endblock %}

{% block content %}
    {{ block.super }}

    <section class="content">
        <div class="center">
            <section class="settings-block">
                <div class="change-pwd">
                    <div class="change-pwd-title">Поменять пароль</div>
                    <div class="pwd-inputs">
                        <p>
                            Забыли пароль? Если e-mail ниже корректен, то нажмите на
                            кнопку и мы пришлём Вам инструкции для создания нового пароля.
                            Если он некорректен, поменяйте в профиле e-mail на корректный.
                        </p>
                        <form method="post" action="">
                            {% csrf_token %}
                            <p>
                                <label for="id_email">Адрес электронной почты:</label>
                                <input type="email" value="{{ global_user.email }}" name="email" maxlength="254" required id="id_email" readonly>
                            </p>
                            <input type="submit" value="{% trans 'Reset password' %}" />
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{# This is used by django.contrib.auth #}
