{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    .errorlist {
        color: indianred;
    }
{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="white" style="display: -webkit-box;">
            <section style="position: relative;margin-top: 80px;margin-left: 90px;">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Submit' %}" />
                </form>
            </section>
        </div>
    </section>
{% endblock %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
information on how to display this in a template.
{% endcomment %}
