* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.white {
  color: #e2e2e2;
}

.gray {
  color: #b0b0b0;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body {
  background-color: #303133;
}

a {
  text-decoration: none;
}

a:visited {
  color: #e2e2e2;
}

a:visited {
  color: #e2e2e2;
}

a:active {
  color: #e2e2e2;
}

a:link {
  color: #e2e2e2;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header #notif {
  position: relative;
  height: 25px;
  fill: #e2e2e2;
  margin-top: 12px;
  margin-right: 15px;
}

.header .notifications {
  z-index: 10;
  position: relative;
}

.header .notifications:hover #notif_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .notifications:hover #notif_list .notif_elem {
  opacity: 1;
}

.header .notifications::after {
  position: absolute;
  content: "";
  z-index: 2;
  top: 10px;
  left: 15px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-animation: notification 2s infinite;
          animation: notification 2s infinite;
}

.header #notif_list {
  position: absolute;
  width: 120px;
  z-index: 10;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 45px;
  left: -50px;
}

.header #notif_list .notif_elem {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  color: #e2e2e2;
  opacity: 0;
  text-align: center;
  display: inline-block;
  min-height: 20px;
  font-size: 15px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 1px 10px / 12px;
}

.header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Red Rose', cursive;
  color: #e2e2e2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-right: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header .login:hover {
  color: pink;
}

.toggle {
  display: none;
}

.toggle span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 4px;
  margin-top: 20px;
  border-radius: 2px;
  background-color: #cbcbcb;
}

.toggle span::after {
  top: 5px;
  left: 0;
}

.toggle span::before {
  top: -9px;
  left: 0;
}

.toggle span::after, .toggle span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 4px;
  margin-top: 2px;
  border-radius: 2px;
  background-color: #cbcbcb;
}

.navbar {
  width: 60px;
  z-index: 6;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #262729;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar_info {
  height: 100%;
  position: absolute;
  width: 80px;
  left: -50px;
  opacity: 0;
  background-color: rgba(38, 39, 41, 0.6);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar_info span {
  font-family: 'Red Rose', cursive;
  text-transform: uppercase;
  color: #e2e2e2;
  margin-top: 45px;
}

.navbar .navbar_info span:nth-child(1) {
  margin-top: 30px;
}

.navbar:hover .navbar_info {
  left: 60px;
  opacity: 1;
}

.navbar_elem {
  padding-top: 20px;
  fill: #e2e2e2;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navbar_elem:hover svg {
  fill: pink;
  -webkit-filter: drop-shadow(4px 2px 2px #e44fd5);
          filter: drop-shadow(4px 2px 2px #e44fd5);
}

.navbar #search {
  width: 40px;
  height: 40px;
}

.navbar #settings {
  width: 40px;
  height: 40px;
}

.navbar #connection {
  width: 40px;
  height: 40px;
}

.content {
  min-height: 600px;
}

.user-profile {
  z-index: 5;
  position: relative;
  margin-top: 60px;
  margin-left: 60px;
  padding: 20px;
  background-color: #1d1d1d;
  width: 64rem;
  max-width: 80%;
  min-height: 250px;
  overflow: hidden;
  margin-bottom: 50px;
}

.user-profile figure {
  position: relative;
  display: inline-block;
}

.user-profile figure div {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
}

.user-profile figure div img {
  max-width: 65px;
  max-height: 65px;
  display: inline-block;
}

.user-profile figure #del-avatar {
  position: absolute;
  top: 3px;
  right: 1px;
  border: none;
  display: inline-block;
  background-color: rgba(250, 18, 18, 0.925);
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: center;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 15px;
}

.user-profile figcaption {
  margin-left: 10px;
  display: inline-block;
  color: #e2e2e2;
}

.user-profile figcaption div {
  min-width: 240px;
}

.user-profile figcaption #rating, .user-profile figcaption #age, .user-profile figcaption #gender {
  color: #b0b0b0;
}

.user-profile figcaption #rating span, .user-profile figcaption #age span, .user-profile figcaption #gender span {
  color: #e2e2e2;
}

.user-profile figcaption #selectGender {
  outline: none;
  border: none;
  color: #e2e2e2;
  background-color: #262729;
}

.user-profile figcaption #firstname, .user-profile figcaption #lastname {
  color: #e2e2e2;
  background-color: #262729;
  border: none;
  width: 120px;
  font-size: 16px;
}

.user-profile #change-profile-data {
  position: absolute;
  top: 1px;
  right: 5px;
  display: inline-block;
  background-color: rgba(18, 250, 45, 0.925);
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000;
  cursor: pointer;
}

.user-profile #change-profile-data-cancel {
  position: absolute;
  top: 1px;
  right: 35px;
  border: none;
  display: inline-block;
  background-color: rgba(250, 18, 18, 0.925);
  padding: 2px 6px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000;
  cursor: pointer;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user-profile #change-profile-data-cancel:checked {
  outline: none;
}

.user-profile #connection {
  position: relative;
  font-size: 14px;
  color: #c4c2c2;
}

.user-profile #connection::after {
  content: "";
  border-radius: 50%;
  background-color: green;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 6px;
  left: calc(50% - 30px);
}

.user-profile .buttons div {
  cursor: pointer;
  padding: 25px 50px;
  /* z-index: 5; */
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  margin: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#0162c8), to(#55e7fc));
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.user-profile .user-data {
  color: #e2e2e2;
  margin-top: 5px;
  margin-left: 10px;
}

.user-profile .user-data #history {
  margin-top: 20px;
  color: #e2e2e2;
}

.user-profile .user-data #textArea {
  font-size: 16px;
  width: 100%;
  border: 0;
  margin-top: 10px;
  color: #e2e2e2;
  background-color: #262729;
}

.user-profile .user-data #textArea:focus {
  outline: none;
}

.user-profile .interests {
  margin-left: 10px;
  margin-top: 20px;
  color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-profile .interests #tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile .interests #tags .tag {
  margin-left: 5px;
  position: relative;
  border: 1px aqua solid;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.user-profile .interests #tags .tag input {
  color: pink;
  background-color: #262729;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  border: none;
  width: auto;
}

.user-profile .interests #tags .tag input:focus {
  outline: none;
}

.user-profile .interests #tags .tag .del_btn {
  position: absolute;
  content: "";
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.user-profile .interests #tags .tag .del_btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.user-profile .interests #tags .tag .del_btn::before {
  position: absolute;
  content: "x";
  top: -6px;
  right: 1px;
  z-index: 10;
  color: #000;
}

.user-profile .interests #tags .append_tag {
  border: 2px green solid;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.user-profile .interests #change-tag {
  display: inline-block;
  background-color: #17fa0b;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000;
  cursor: pointer;
}

.user-profile .images {
  margin: 10px;
}

.user-profile .images #imageInput {
  display: none;
}

.user-profile .images #image-input {
  width: 55px;
  height: 45px;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid #5555ee;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(45deg, #0162c8, #55e7fc);
}

.user-profile .images #image-input svg {
  width: 80%;
  height: 80%;
}

.user-profile .images .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-profile .images .img-area div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile .images .img-area div .del-img-btn {
  background-color: #e2e2e2;
  position: absolute;
  top: 2px;
  right: 5px;
}

.user-profile .images .img-area img {
  max-width: 300px;
  max-height: 250px;
  margin: 10px;
  margin-top: 20px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.user-profile .images .img-area .hover-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#date-picker {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 4px;
  background-color: #262729;
  color: #e2e2e2;
  margin-left: 10px;
  margin-top: 5px;
}

@-webkit-keyframes notification {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes notification {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes btn_span {
  0% {
    width: 0;
    height: 0;
    opacity: 0.25;
  }
  100% {
    height: 1000px;
    width: 1000px;
    opacity: 0;
  }
}

@keyframes btn_span {
  0% {
    width: 0;
    height: 0;
    opacity: 0.25;
  }
  100% {
    height: 1000px;
    width: 1000px;
    opacity: 0;
  }
}

.user-profile-short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.user-profile-short .user-data {
  max-width: 70%;
}

.user-profile-short figure div {
  width: auto;
}

.user-profile-short figure div img {
  max-width: 320px;
  max-height: 250px;
}

.user-profile-short #rating, .user-profile-short #age, .user-profile-short #gender, .user-profile-short #username, .user-profile-short #name {
  margin-left: 10px;
  line-height: 20px;
  display: inline-block;
}

.user-profile-short div {
  color: #b0b0b0;
}

.user-profile-short div span {
  color: #e2e2e2;
}

.user-profile-short #name {
  display: block;
}

.user-profile-short .user-data div {
  position: relative;
}

.user-profile-short .user-data .short-history {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.user-profile-short .user-data #show-more {
  left: 0;
  cursor: pointer;
  position: absolute;
  bottom: -17px;
  background-color: #1d1d1d;
  color: #96cbf8;
  outline: none;
  border: none;
}

.user-profile-short .user-data #show-more:focus ~ .short-history {
  display: inline-block;
}

@media screen and (max-width: 780px) {
  .search-data {
    margin: 0 !important;
  }
  .toggle {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .user-profile figure div {
    width: auto;
  }
  .user-profile figure div img {
    max-width: 70%;
    max-height: 350px;
  }
  .user-profile .img-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar {
    display: none;
  }
  .navbar-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50px;
  }
  .navbar-active .navbar_info {
    left: 60px;
    opacity: 1;
  }
  .user-profile {
    margin-left: 0;
  }
  .user-profile-short {
    padding: 20px 0;
  }
  .user-profile-short figure img {
    max-width: 90%;
  }
  .user-profile-short .user-data {
    margin-top: 20px;
    max-width: 90%;
  }
}

.center {
  z-index: 3;
}

section.content .settings-block {
  background-color: #1d1d1d;
  min-height: 200px;
  width: 64rem;
  color: #e2e2e2;
  max-width: 80%;
  margin: 60px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.content .settings-block .change-pwd {
  text-align: center;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.content .settings-block .change-pwd div {
  margin-top: 10px;
}

section.content .settings-block .change-pwd div input {
  min-width: 100px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section.content .settings-block .change-pwd div input:focus {
  outline: none;
  min-width: 200px;
}

section.content .settings-block .change-pwd [type="submit"] {
  border: none;
  border-radius: 10px;
  padding: 4px;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

section.content .settings-block .change-pwd [type="submit"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search-data {
  background-color: #1d1d1d;
  min-height: 130px;
  width: 64rem;
  border-radius: 10px;
  color: #e2e2e2;
  max-width: 80%;
  margin: 10px 0 0 60px;
  padding: 20px;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-data .age-gap {
  width: 30%;
}

.search-data .age-gap .age-gap-title {
  margin-bottom: 10px;
}

.search-data .age-gap input {
  width: 40px;
}

.search-data .age-gap input:focus {
  outline: none;
}

.search-data .rating-gap {
  width: 30%;
}

.search-data .rating-gap .rating-gap-title {
  margin-bottom: 10px;
}

.search-data .rating-gap input {
  width: 40px;
}

.search-data .rating-gap input:focus {
  outline: none;
}

.search-data .location {
  width: 30%;
}

.search-data .location .location-gap-title {
  margin-bottom: 10px;
}

.search-data .interests {
  width: 30%;
}

.search-data .interests #tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-data .interests #tags .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  position: relative;
  border: 1px aqua solid;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.search-data .interests #tags .tag input {
  color: pink;
  background-color: #262729;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  border: none;
  width: auto;
}

.search-data .interests #tags .tag input:focus {
  outline: none;
}

.search-data .interests #tags .tag .del_btn {
  position: absolute;
  content: "";
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.search-data .interests #tags .tag .del_btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.search-data .interests #tags .tag .del_btn::before {
  position: absolute;
  content: "x";
  top: -6px;
  right: 1px;
  z-index: 10;
  color: #000;
}

.search-data .interests #tags .append_tag {
  border: 2px green solid;
  border-radius: 5px;
  padding: 2px;
  margin-top: 5px;
}

.search-data .interests #change-tag {
  display: inline-block;
  background-color: #17fa0b;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: #000;
  cursor: pointer;
}

.search-area {
  height: 40px;
  margin: 60px 0 0 60px;
  width: 80%;
  position: relative;
}

.search-area input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #1b1b1b;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 20px;
  padding: 5px;
  color: #e2e2e2;
}

.search-area input:focus {
  outline: none;
  height: 35px;
}

.search-area input:focus ~ .search-toggle {
  top: 0px;
}

.search-area .search-toggle {
  position: absolute;
  right: 0;
  top: -7px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search-area .search-toggle span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 4px;
  margin-top: 20px;
  border-radius: 2px;
  background-color: #cbcbcb;
}

.search-area .search-toggle span::after {
  top: 5px;
  left: 0;
}

.search-area .search-toggle span::before {
  top: -9px;
  left: 0;
}

.search-area .search-toggle span::after, .search-area .search-toggle span::before {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 4px;
  margin-top: 2px;
  border-radius: 2px;
  background-color: #cbcbcb;
}

.search-area .search-toggle.active span {
  height: 0;
}

.search-area .search-toggle.active span::after {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-area .search-toggle.active span::before {
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.user-card-mini {
  min-height: 100px;
  padding-bottom: 25px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.user-card-mini figure div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-card-mini .buttons-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-card-mini .buttons-sec button {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 15px;
  min-width: 70px;
  margin: 10px 0 0 20px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: #99c4d8;
}

.user-card-mini .buttons-sec button:nth-child(1) {
  top: 55px;
}

#more-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 0;
  width: 0;
  border: none;
}

#more-actions #more-actions-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e2e2e2;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#more-actions #more-actions-span::after, #more-actions #more-actions-span::before {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  right: 0;
  border-radius: 50%;
  background-color: #e2e2e2;
}

#more-actions #more-actions-span::after {
  top: 10px;
}

#more-actions #more-actions-span::before {
  top: 20px;
}

#more-actions #more-actions-btn {
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  border: none;
  background: none;
  width: 20px;
  height: 35px;
  z-index: 999;
}

#more-actions #more-actions-btn:focus {
  outline: 0;
  border: none;
  display: inline-block;
}

#more-actions #more-actions-btn:focus ~ #more-actions-span {
  top: 10px;
}

#more-actions #more-actions-btn:focus ~ #more-actions-span::before {
  top: 0px;
}

#more-actions #more-actions-btn:focus ~ #more-actions-span::after {
  top: 0px;
}

#more-actions .buttons {
  position: absolute;
  top: 20px;
  right: 7px;
  display: none;
  width: 50px;
}

#more-actions .visible {
  display: inline-block;
}
