{% extends "base.html" %}

{% load static %}

{% block title %}Чаты{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="center">
        <div style="display: flex; width: 80%; justify-content: center; flex-direction: column;">
            {% for user in users %}
                <div id="chats-area">
                    <a id="room-name-{{ forloop.counter0 }}" class="card-chat">
                        {% if user.main_photo %}
                            <img src="{{ user.main_photo }}" class="main avatar" alt="profile picture">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" class="avatar" alt="default profile picture">
                        {% endif %}
                        <div class="card-chat-info">
                            <div class="card-chat-user">
                                {{ user.username }}
                            </div>
                            <!-- TODO: time of last message -->
                            <span class="unread-counter">{{ user.last_message|date:'mdY h:m:s' }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script>
        {% if global_user.id %}user_id = {{ global_user.id }}{% endif %};
    </script>
    <script>
        {% for user in users %}
            const room = document.getElementById("room-name-{{ forloop.counter0 }}");
            room.setAttribute("href", ["{{ global_user.id }}", "{{ user.id }}"].sort().join('_'));
            console.log(room.querySelector(".unread-counter").textContent);
            let _date = room.querySelector(".unread-counter").textContent;
            if (_date != 0) {
                room.querySelector(".unread-counter").innerHTML = moment(_date, "MMDDYYYY hh:mm:ss").fromNow();
            } else {
                room.querySelector(".unread-counter").innerHTML = "Нет сообщений";
            }
        {% endfor %}
        
        // sort chats
        // const sort_by_unread = (a, b) => {
        //     return ~~a.querySelector(".unread-counter").textContent > ~~b.querySelector(".unread-counter").textContent;
        // }
        // var list = [...document.querySelectorAll(".card-chat")];
        // list.sort(sort_by_unread);
        // for (let i = 0, len = list.length; i < len; i++) {
        //     list[i].parentNode.appendChild(list[i]);
        // }
    </script>
    <script src="{% static 'js/toggleBtn.js' %}"></script>
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/getNotifications.js' %}"></script>
{% endblock %}
