{% extends "base.html" %}

{% load static %}

{% block title %}Чаты{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="center">
        <div style="display: flex; width: 80%; justify-content: center; flex-direction: column;">
            {% for user in users %}
                <div id="chats-area">
                    <a id="room-name-{{ forloop.counter0 }}" class="card-chat">
                        {% if user.photos %}
                            <img src="{{ user.photos.0.image }}" class="avatar"  alt="default profile picture">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" class="avatar" alt="default profile picture">
                        {% endif %}
                        <div class="card-chat-info">
                            <div class="card-chat-user">
                                {{ user.username }}
                            </div>
                            <span class="unread-counter">{{ forloop.counter0 }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        {% for user in users %}
            document.getElementById("room-name-{{ forloop.counter0 }}").setAttribute("href", ["{{ global_user.id }}", "{{ user.id }}"].sort().join('_'));
        {% endfor %}
        // sort chats
        // const sort_by_unread = (a, b) => {
        //     return ~~a.querySelector(".unread-counter").textContent > ~~b.querySelector(".unread-counter").textContent;
        // }
        // var list = [...document.querySelectorAll(".card-chat")];
        // list.sort(sort_by_unread);
        // for (let i = 0, len = list.length; i < len; i++) {
        //     list[i].parentNode.appendChild(list[i]);
        // }
    </script>
    <script src="{% static 'js/toggleBtn.js' %}"></script>
{% endblock %}
