{% extends "base.html" %}

{% load static %}

{% block title %}Чат{% endblock %}

{% block content %}
    {{ block.super }}
    <style>
        .data-message {
            color: #e2e2e2;
        }
        .block-message {
            margin-top: 7px;
            border: 2px #e2e2e2 solid;
            width: 100%;
            padding: 4px;
        }
        .from {
            color: #a1a1a1;
            font-size: 8px;
        }
        p {
            margin-bottom: 0;
        }
    </style>
    <section id="chat-room">
        <a href="/profiles/{{ interlocutor.id }}" class="chat-user-info">
            <div style="display: flex; align-items: center;">
                {% if interlocutor.main_photo %}
                    <img src="{{ interlocutor.main_photo }}" class="main avatar" alt="profile picture">
                {% else %}
                    <img src="{% static 'img/default.png' %}" class="avatar" alt="default profile picture">
                {% endif %}
                <div>
                    <span
                        style="background-color:{% if interlocutor.last_online == "online" %}green{% else %}red{% endif %};border-radius:50%;display:inline-block;width:8px;height:8px;margin-right:5px;top:6px;">
                    </span>
                </div>
                <div style="display: flex; width: 100%;  justify-content: left;">
                    <span class="username">{% if interlocutor.first_name and interlocutor.last_name %}{{ interlocutor.first_name }} {{ interlocutor.last_name }} ({{ interlocutor.username }}){% else %}{{ interlocutor.username }}{% endif %}</span>
                </div>
            </div>
        </a>

        <div class="messages-section-parent">
            <section id="messages">
                <div class="message">
                    <p class="data-message"></p>
                </div>
            </section>
            <section class="messageInput">
                <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                    <label for="inp" class="inp">
                        <input type="text" id="chat-message-input" placeholder="&nbsp;">
                        <span class="label">input here</span>
                        <span class="focus-bg"></span>
                      </label>
                    <input id="chat-message-submit" type="button" value="Send">
                </div>
            </section>
        </div>
    </section>
    {{ room_name|json_script:"room-name" }}
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script>
        const current_url = document.URL.slice(0, document.URL.length - 1);

        setInterval(() => {
            document.querySelectorAll(".notif_list a").forEach(el => {
                if (el.href === current_url) {
                    deleteNotification(el.id);
                }
            });
        });

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        window.scrollTo(0,document.body.scrollHeight);
        let chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        const getCurrentMonthName = () => {
            return ["января", "февраля", "марта", "апреля", "мая", "июня",
                "июля", "августа", "сентября", "октября", "ноября", "декабря"
                ][new Date().getMonth()];
        };

        messageFromId = 1;

        function createBlockMessage({from, created}) {
            let newBlockMessage = document.createElement("div");

            if (from !== "you :") {newBlockMessage.classList.add("aqua-border")}
            newBlockMessage.innerHTML = `<p class="from">${from}</p>`;
            newBlockMessage.classList.add("block-message");
            return newBlockMessage;
        }

        function createBlockDate({day, month, year}) {
            let newBlockMessage = document.createElement("div");

            newBlockMessage.classList.add("date-block");
            newBlockMessage.innerHTML = `<span class="day">${day}</span> ${month} ${year}`

            return newBlockMessage;
        }

        let newMes = {};
        const messages = [];

        Date.prototype.timeNow = function () {
            return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
        };

        {% for message in messages %}
            {% if message.message %}
                newMes = {};
                newMes.sender_id = {% if global_user.id == message.user_1.id %}
                                    {% if message.type == "1 -> 2" %}
                                        {{ global_user.id }}
                                    {% else %}
                                        {{ message.user_2.id }}
                                    {% endif %}
                                {% else %}
                                    {% if message.type == "1 -> 2" %}
                                        {{ message.user_1.id }}
                                    {% else %}
                                        {{ global_user.id }}
                                    {% endif %}
                                {% endif %}
                newMes.message = "{{ message.message }}";
                newMes.created = {};
                newMes.created.day = "{{ message.created|date:'d' }}";
                newMes.created.month = "{{ message.created }}".split(" ")[1];
                newMes.created.year = "{{ message.created|date:'Y' }}";
                newMes.created.time = "{{ message.created|date:'H:i:s' }}";
                messages.push(newMes);
            {% endif %}
        {% endfor %}

        function appendMessage(e) {
            const { message, sender_id } = e;
            let { created } = e;

            let date = new Date();
            if (!created) {
                created = {};
                created.day = date.getDate();
                created.month = getCurrentMonthName();
                created.year = date.getFullYear().toString();
                created.time = new Date().timeNow();
            }
            if (!created.month) {
                created.month = getCurrentMonthName();
            }
            if (!created.year) {
                created.year = date.getFullYear().toString();
            }
            if (!message)
                return;
            messageFromId = sender_id;
            const messagesArea = document.getElementById("messages");
            let newMessage = document.createElement("p");
            const blocksDate = document.querySelectorAll(".date-block");
            const lastDate = [...blocksDate][blocksDate.length - 1];
            const blocksMessages = document.querySelectorAll(".block-message");
            const lastMessageBlock = [...blocksMessages][blocksMessages.length - 1];
            let isLastMessageFromEnemy = false;

            if (lastMessageBlock) {
                isLastMessageFromEnemy = lastMessageBlock.querySelector(".from").innerText === "you :" ? false : true;
            }

            if (!lastDate) {
                if (created) {
                    messagesArea.appendChild(createBlockDate({day: created.day, month: created.month, year: created.year}));
                } else {
                    messagesArea.appendChild(createBlockDate({day: new Date().getDate(), month: getCurrentMonthName(), year: new Date().getFullYear().toString()}));
                }
            } else if (lastDate.textContent !== (created.day + " " + created.month + " " + created.year)) {
                console.log("lastDate: " + lastDate.textContent + ", " + created.day + " " + created.month + " " + created.year);
                console.log("created: " + created);
                if (created) {
                    messagesArea.appendChild(createBlockDate(
                        {day: created.day, month: created.month, year: created.year}
                    ));
                }
                else {
                    messagesArea.appendChild(createBlockDate(
                        {day: new Date().getDate(), month: getCurrentMonthName(), year: new Date().getFullYear().toString()})
                    );
                }
            }
            newMessage.classList.add("data-message");
            newMessage.innerHTML = `<span>${message}</span><span class="message-date">${created.time}</span>`;
            if ((isLastMessageFromEnemy || !(lastMessageBlock) ||
                lastDate.textContent !== (created.day + " " + created.month + " " + created.year))
                && messageFromId === {{ global_user.id }}) {
                let newBlockMessage = createBlockMessage({from: "you :", created: created});

                newBlockMessage.appendChild(newMessage);
                messagesArea.appendChild(newBlockMessage);
            } else if (messageFromId === {{ global_user.id }}) {
                lastMessageBlock.appendChild(newMessage);
            } else {
                if (lastMessageBlock && isLastMessageFromEnemy && lastDate.textContent === (created.day + " " + created.month + " " + created.year)) {
                    lastMessageBlock.appendChild(newMessage);
                } else {
                    let newBlockMessage = createBlockMessage({from: "{{ interlocutor.username }} :", created: created});

                    newBlockMessage.appendChild(newMessage);
                    messagesArea.appendChild(newBlockMessage);
                }
            }
            window.scrollTo(0,document.body.scrollHeight);
        }

        messages.forEach(mes => {
            appendMessage(mes);
        });

        chatSocket.onmessage = (e) => {
            appendMessage(JSON.parse(e.data));
            console.log("e.data: " + JSON.stringify(JSON.parse(e.data)));
        };

        chatSocket.onclose = (e) => {alert("WebSocket was closed")};

        chatSocket.onerror = (e) => {alert("Error with WebSocket, maybe Redis is closed?")};

        document.querySelector('#chat-message-input').focus();

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message) {
                let message_text = JSON.stringify({
                    'message': message,
                    'global_user_id': {{ global_user.id }}
                });
                chatSocket.send(message_text);
                messageInputDom.value = '';
            }
        };
    </script>
{% endblock %}
