{% extends "base.html" %}

{% load static %}

{% block title %}Действия{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="center">
            <nav style="bottom:10px;z-index:14;position:fixed;" aria-label="...">
              <ul class="pagination" style="">
                <li class="page-item {% if page >= 2 %} active {% else %} disabled {% endif %}">
                  <a class="page-link" href="{{ page|add:-1 }}" tabindex="-1">Previous</a>
                </li>
                {% if max_page >= 3 and page >= 3 %}
                    <li class="page-item">
                      <a class="page-link" href="1">1</a>
                    </li>
                    {% if page > 3 %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#">...</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if page >= 2 %}
                    <li class="page-item">
                      <a class="page-link" href="{{ page|add:-1 }}">{{ page|add:-1 }}</a>
                    </li>
                {% endif %}
                <li class="page-item active">
                  <a class="page-link" href="{{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
                </li>
                {% if page|add:1 <= max_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ page|add:1 }}">{{ page|add:1 }}</a>
                    </li>
                {% endif %}
                {% if max_page >= 3 and page <= max_page|add:-2 %}
                    {% if page < max_page|add:-2 %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#">...</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                      <a class="page-link" href="{{ max_page }}">{{ max_page }}</a>
                    </li>
                {% endif %}
                <li class="page-item {% if page|add:1 <= max_page %} active {% else %} disabled {% endif %}">
                  <a class="page-link" href="{{ page|add:1 }}">Next</a>
                </li>
              </ul>
            </nav>

            <div class="search-area">
                <input id="search-bar" type="text" placeholder="Поиск...">
                <label for="search-bar"></label>
            </div>

            <div style="display: flex; width: 80%; justify-content: center; flex-direction: column;">
                {% for notification in notifications %}
                    <div id="chats-area" style="margin: 0 0 20px;">
                        <a href="/profiles/{{ notification.user_id }}" class="card-chat">
                            {% if notification.image %}
                                <img src="{{ notification.image }}" class="main avatar" alt="profile picture">
                            {% else %}
                                <img src="{% static 'img/default.png' %}" class="avatar" alt="default profile picture">
                            {% endif %}
                            <div class="card-chat-info" style="width:100%;">
                                <span style="padding:10px;">{{ notification.message }}</span>
                                <span style="padding:10px;">{{ notification.created }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script>
        $(".page-link").click(function(event) {
            event.preventDefault();
            if (window.location.search.match(/[&?]?page=/g)) {
                window.location.search = window.location.search.replace(/([&?]?page=)(.*?)(&|$)/g, "$1" + this.getAttribute('href') + "$3");
            } else {
                if (!window.location.search.match(/\?/g)) {
                    window.location.search += '?page=' + this.getAttribute('href');
                } else {
                    window.location.search += '&page=' + this.getAttribute('href');
                }
            }
        });

        $(document).ready(function() {
            try {
                let name = getParameterByName('name');
                if (name) {
                    $("#search-bar").val(name);
                }
            } catch (error) {
                console.log("search filters error happened: " + error);
            }
        });

        let input = document.getElementById("search-bar");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            let value = input.value.trim();
            window.location.href = "/actions/?" + "name=" + value;
          }
        });
    </script>
{% endblock %}
