{% extends "base.html" %}

{% block title %}Matcha{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        {% include "cards.html" %}
    </section>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script>
        function check_line_clamp() {
            document.querySelectorAll("#history").forEach(el => {
                if (el.scrollHeight === el.clientHeight) {
                    el.parentNode.querySelector("button").style.display = "none";
                } else {
                    el.parentNode.querySelector("button").style.display = "block";
                }
            })
        }
        check_line_clamp();
        window.onresize = function(e) {
            check_line_clamp();
            console.log("here");
        }
    </script>
{% endblock %}

</html>