{% extends "base.html" %}

{% block title %}Matcha{% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "header.html" %}
    <section class="content">
        {% include "cards.html" %}
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/toggleBtn.js' %}"></script>
{% endblock %}

</html>