{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% load static %}

{% block styles %}
    {{ block.super }}
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      display: inline-block;
      vertical-align: middle;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;
      display: inline-block;
      vertical-align: middle;
    }

    .arrow-down-active {
      border-top: 10px solid green;
    }

    .arrow-up-active {
      border-bottom: 10px solid green;
    }
{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="center">
            <div class="search-area">
                <input id="search-bar" type="text" placeholder="Поиск...">
                <input type="checkbox" name="" id="search-toggle-check" style="display: none;" onchange="document.querySelector('.search-data').classList.toggle('display-flex'); document.querySelector('.search-toggle').classList.toggle('active')">
                <label for="search-toggle-check" class="search-toggle">
                    <span></span>
                </label>
            </div>
            {% include "search_data.html" with type="search" %}
            <div style="width: 90%;">
                {% include "cards.html" with type="likes" %}
            </div>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script>
        let input = document.getElementById("search-bar");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            let value = input.value.trim();
            window.location.href = "/search/?" + "name=" + value;
          }
        });
    </script>
{% endblock %}
