{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "header.html" %}
    <section class="content">
        <div class="center">
            <div class="search-area">
                <input type="text" placeholder="Поиск...">
                <input type="checkbox" name="" id="search-toggle-check" style="display: none;" onchange="document.querySelector('.search-data').classList.toggle('display-flex'); document.querySelector('.search-toggle').classList.toggle('active')">
                <label for="search-toggle-check" class="search-toggle">
                    <span></span>
                </label>
            </div>
            <div class="search-data">
                <div class="age-gap">
                    <div class="age-gap-title">Возраст</div>
                    <span>От:</span>
                    <input type="number" name="" id="low_age" min="18" max="110" value="18">
                    <span>До:</span>
                    <input type="number" name="" id="high_age" min="18" max="110" value="110">
                </div>
                <div class="rating-gap">
                    <div class="rating-gap-title">Рейтинг</div>
                    <span>От:</span>
                    <input type="number" name="" id="low_rating" min="0" max="110" value="0">
                    <span>До:</span>
                    <input type="number" name="" id="high_rating" min="0" max="110" value="110">
                </div>
                <div class="location">
                    <div class="location-gap-title">Местоположение:</div>
                    <input type="text" name="" id="location" placeholder="Москва">
                </div>
                <div class="interests">
                    <div class="rating-gap-title">Интересы:</div>
                    <div id="tags" class="search-tags"></div>
                </div>
                <div>
                    <button id="search_button">✔</button>
                </div>
            </div>
            {% include 'cards.html'|escapejs %}
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/toggleBtn.js' %}"></script>
    <script>
        var new_tag_edited = false;
    
        function submitTag(el) {
            let input = el.querySelector("input");
            try {
                var data = input.value.trim();
            } catch (error) {
                return;
            }
            if (!data) {
                el.remove();
            }
            input.remove();
            el.classList.remove("active-tag");
            el.classList.remove("new-tag");
            if (new_tag_edited) {
                let del_btn = document.createElement("div");
                del_btn.classList.add("del_btn");
                el.appendChild(del_btn);
                tagListener(el);
                createNewTag();
                new_tag_edited = false;
            }
            el.querySelector("span").innerHTML = "#" + data;
            // ЗДЕСЬ НАДО ОТПРАВЛЯТЬ ЗАПРОС О СОЗДАНИИ/ИЗМЕНЕНИИ ТЕГА
        }
    
        function createNewTag() {
            let new_tag = document.createElement("div");
            let span = document.createElement("span");
            let tags_area = document.getElementById("tags");
    
            span.innerHTML = "# ";
            new_tag.classList.add("tag");
            new_tag.classList.add("new-tag");
            new_tag.appendChild(span);
            new_tag.appendChild(document.createElement("input"));
            tags_area.appendChild(new_tag);
            tagListener(new_tag);
        }
    
        function tagListener(el) {
            el.addEventListener("click", function(e) {
                if (!el.classList.contains("active-tag") && !el.classList.contains("new-tag")) {
                    let active = document.querySelector(".active-tag");
                    if (active) {
                        submitTag(active);
                    }
                    el.classList.add("active-tag");
                    let span = el.querySelector("span");
                    let data = span.innerHTML.split("#")[1];
                    span.innerHTML = "# ";
                    let input = document.createElement("input");
                    input.setAttribute("value", data);
                    el.appendChild(input);
                }
            });
            el.addEventListener("input", function(e) {
                if (el.classList.contains("new-tag")) {
                    new_tag_edited = true;
                }
                if (el.classList.contains("new-tag") && el.querySelector("input").value == "") {
                    new_tag_edited = false;
                }
                if (e.data === " ") {
                    submitTag(el);
                }
            });
            el.addEventListener("keypress", function(e) {
                let code = e.keyCode || e.which;
                if (code === 13) {
                    if ((document.querySelector(".search-tags .new-tag") && document.querySelector(".new-tag input").value) || el.classList.contains("active-tag"))
                        submitTag(el);
                }
            });
            try {
                el.querySelector(".del_btn").addEventListener("click", function(e) {
                    el.remove();
                });
            } catch {
            }
        }
    
        function editTag() {
            document.addEventListener("click", function(e) {
                let active_tag = document.querySelector(".active-tag");
                if (active_tag) {
                    if (!(e.target == active_tag || active_tag.contains(e.target))) {
                        submitTag(active_tag);
                    }
                }
            });
            document.querySelectorAll(".interests .tag").forEach(el => {
                tagListener(el);
            });
        }
    
        var tags = {
            edit: function() {
                document.querySelectorAll(".search-tags .tag").forEach(el => {
                    let del_btn = document.createElement("div");
                    del_btn.classList.add("del_btn");
                    el.appendChild(del_btn);
                });
                // change_tag_btn.innerHTML = "&#10004;";
                createNewTag();
                editTag();
                // change_tag = true;
            },
            submit: function() {
                document.querySelectorAll(".search-tags .tag").forEach(el => {
                    try {
                        el.querySelector(".search-tags .del_btn").remove();
                    } catch (error) {
                    }
                });
                document.querySelector(".search-tags .new-tag").remove();
            }
        }
        tags.edit();
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById("search_button").addEventListener("click", function(e) {
            const csrftoken = getCookie('csrftoken');
            var tag_names = [];
            var tag_tags = $(".tag span");
            for (var i = 0; i < tag_tags.length; i++)
                tag_names.push(tag_tags[i].textContent);

            $.ajax({
                headers: {
                    'Content-Type' : 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken
                },
                url: "/api/v1/users/",
                type: "GET",
                data: "age=" + $("#low_age").val() + ":" + $("#high_age").val() + "&rating=" + $("#low_rating").val() + ":" + $("#high_rating").val() + "&location=" + $("#location").val() + "&tags=" + tag_names.join(','),
                success: function(data) {
                    // $("div.center").append("")
                    console.log(data);
                }
            })
        });
    </script>
{% endblock %}
