{% extends "base.html" %}

{% block title %}Настройки{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="center">
            <section class="settings-block">
                <div class="change-pwd">
                    <div class="change-pwd-title">Поменять пароль</div>
                    <div class="pwd-inputs">
                        <form action="">
                            <div class="old-pwd">
                                <input type="password" name="" id="old-pwd" placeholder="old password">
                            </div>
                            <div class="new-pwd">
                                <input type="password" name="" id="new-pwd" placeholder="new password">
                            </div>
                            <div class="confirm-pwd">
                                <input type="password" name="" id="confirm-pwd" placeholder="confirm password">
                            </div>
                            <input type="submit" value="change password">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
