{% extends "base.html" %}

{% block title %}Настройки{% endblock %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
    {% include "header.html" %}
    <section class="content">
        <div class="center">
            <section class="settings-block">
                <div class="change-pwd">
                    <div class="change-pwd-title">Поменять пароль</div>
                    <div class="pwd-inputs">
                        <form action="">
                            <div class="old-pwd">
                                <input type="password" name="" id="old-pwd" placeholder="old password">
                            </div>
                            <div class="new-pwd">
                                <input type="password" name="" id="new-pwd" placeholder="new password">
                            </div>
                            <div class="confirm-pwd">
                                <input type="password" name="" id="confirm-pwd" placeholder="confirm password">
                            </div>
                            <input type="submit" value="change password">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/toggleBtn.js' %}"></script>
{% endblock %}
