{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% load static %}

{% block links %}
    {{ block.super }}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/autosize.min.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <section class="content">
        <div class="center">
            <section class="user-profile">
                <figure>
                    <div>
                        <img class="for-push" src="{% static 'img/default.png' %}" alt="default profile picture">
                    </div>
                    <div id="connection">{{ last_login }}</div>
                </figure>
                <figcaption>
                    <div id="username">{{ username }}</div>
                    <div id="rating">Рейтинг: <span>{{ rating }}&#9733;</span></div>
                    <div id="name">
                        <span id='firstname'>{{ first_name }} </span>
                        <span id='lastname'>{{ last_name }}</span>
                    </div>
                </figcaption>
                <figcaption id="second_caption">
                    <div id="age">Дата рождения:
                        <input  type="hidden" id="date-picker" name="trip-start"
                        value="{{ date_of_birth }}" min="1945-01-01" max="2006-12-31" required>
                        <span>19</span>
                        <span> лет</span>
                    </div>
                    <div id="gender">Пол: <span>{{ gender }}</span></div>
                    <div id="orientation">
                        <span class="gray">Ориентация: </span>
                        <span id="orientation-data">{{ orientation }}</span>
                    </div>
                    <div id="location">
                        <span class="gray">Локация: </span>
                        <span id="location-data">{{ location }}</span>
                    </div>
                </figcaption>
                <section class="user-data">
                    <div class="mt-20">Инфо:</br><span id="history">{{ info }}</span></div>
                </section>
                <section class="interests">
                    <div id="tags">
                        <p class="white">Интересы:</p>
                        {% for tag in tags %}
                            <div class="tag">
                                <span>#{{ tag.tag }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="images">
                    <p class="white">Фото:</p>
                    <div class="img-area">
                        <div style="flex-wrap: wrap;">
                            {% for photo in photos %}
                                <div>
                                    <img class="for-push" src="{{ photo.image }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/changeAge.js' %}"></script>
    {{ block.super }}
{% endblock %}

</html>
